 .consultContainer{
    width: 100%;
    height: 440px;
    background-color: #070707;
      margin: 30px;
      padding: 30px;
      display: flex;
      justify-content: center;
}
.cartsTitle{
    margin: 10px;
    padding: 10px;
}
.consultCart{
    background-color: #fff;
    width: 80%;
    height: 350px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    border-radius: 12px;

} 
.contacts{
    display: flex;
    justify-content: space-evenly;
    padding-top: 200px;
    width: 300px;
    padding-right: 80px;
}
.cartsInput{
    height: 400px;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 10px;
    padding: 10px;

}
.cartsInput input{
    width: 80%;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 12px;
    border-color: rgb(218, 210, 210);
    background-color: #fbf6f6;

}
.cartsInput button{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: blue;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    
}
.cartsInput button:hover {
    background-color: #0066ff;
}
.cartsInput span{
    color: darkgrey;
    font-size: 14px;
}