/* .why{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 600px;
    background-color: transparent;
    margin: auto;
    height: 100%;

}
.container{
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.containe div {
    width:50% ;
} */

.why {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .container > div {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
  }
  
  .gif img{
    width: 330px;
    margin-right: 50px;
  }