*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    width: 1200px;
    margin: 0 auto;
}
.content{
    display: flex;
    justify-content: space-around
}
.navList{
    display: flex;
    gap: 30px;
}
li{
    list-style: none;
}