*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    width: 1168px;
    margin: 0 auto;
}
.content div{

}
.btn1 {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 9px 12px;
    border-radius: 100px;
}
.btn1:hover {
    background-color: #3d3bff;
    border-color: #3d3bff;
    color: white;
}
.btn2{
    display: flex;
    align-items: center;

    background-color: #3d3bff ;
    border: 1px solid #3d3bff ;
    color: white;
    padding: 9px 12px;
    border-radius: 100px;
}
.svg2{
    width: 25px;
    top: 6px;
    fill: black;

    display: block;
    flex-shrink: 0;
    pointer-events: none;
}
.svg3{
    display: none;
width: 25px;
color: red;
transform: translateX(-25.6px);
}
.svg1{
    transform: rotate(180deg);
    width: 25px;
    top: 6px;
    fill: white;

    display: block;
    flex-shrink: 0;
    pointer-events: none;
}
.svg2:hover{
    color: white;
    fill: white;
    display: block;
    flex-shrink: 0;
    pointer-events: none;
}

.content{
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
    position: relative;
    height: 96px;
    align-items: center;
}
.navList{
    display: flex;
    gap: 30px;
}
li{
    list-style: none;
}

.imgDiv{
    width: 400px;
    height: 300px;
    background-color: black;
    border-radius: 36px;
    grid-column: 2/3;
    grid-row: 1/3;
}
.imgDiv img{
    width: 100%;
    height: auto;
}
.revealDiv{
    -webkit-overflow-scrolling: touch;
    background: linear-gradient(90deg, rgba(0,0,0,0.8660714285714286) 100%, rgba(3,3,4,0.6559873949579832) 100%, rgba(0,212,255,1) 100%);
    bottom: 0;
    left: 0;
    min-height: 100vh;
    min-width: 320px;
    outline: none;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 96px;
    z-index: 5;
}
.cont{
    background-color: white;
    border-radius: 0 0 20px 20px;

}
.revealDiv input{
    border-radius: 8px;
    width: 368px;
    height: 48px;
    padding: 14px 48px 14px 40px;
    font-size: 16px;
}
.qq{
    max-width:1168px;

    grid-gap: 40px 98px;
    align-items: flex-start;
    border-top: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 470px;
    padding-bottom: 56px;
    padding-top: 40px;
    margin: 0 auto;
}

.categories{
    line-height: 0;
    margin-bottom: 12px;
    margin-right: 4px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 0 -12px;
    padding: 0;
}
.category a{
    text-decoration: none;
    color: black;
    padding: 9px 12px;
    border: 1px solid black;
    border-radius: 30px;
}

.category{

    line-height: 2.3;
    margin-bottom: 12px;
    margin-right: 4px;

}
.span{
    font-weight: 400;
    line-height: 20px;
    font-size: 16px;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.lb{
    display: block;
    position: relative;
}
.lb button{
    color: black;
    right: 230px;
    width: 48px;
    position: absolute;
    top: 17px;
    border: none;
    background-color: transparent;
}