.btnChat{
    background-color: red;
}
.divChat{
    position: fixed;
    top: 90%;
    right: 20px;
    z-index: 1000;
}
/* .mainBlock{
    min-height: 700px;
    margin: 30px auto;
    background-color: rgba(17, 16, 16, 0.007);
} */